<center>
    <h3>University of Toronto</h3>
    <h3>Department of Mechanical and Industrial Engineering</h3>
    <h3>MIE368 Analytics in Action </h3>
    <h3>(Fall 2020)</h3>
    <hr>
    <h1>Quiz 4: Predict then Optimize</h1>
    <h3>October 22, 2020</h3>
</center>

# Section One


---

## __Question 1__ (/2)

>Q. **Predictive vs Prescriptive**: Is this an example of predictive or prescriptive analytics: *determining the amount of rainfall that will occur next season*. Why? (One sentence MAX).
>> A. This is *predictive* as we are just predicting rainfall and not influencing decison-making

or 

>Q. **Predictive vs Prescriptive**: Is this an example of predictive or prescriptive analytics: *deciding how much of each crop to plant based on next season's rain forecast*. Why? (One sentence MAX).
>> A. This is *prescriptive* as we are trying to make a decision on how much crops to plant.

---
***Question 1 Marking***

---

1.0 Correct category of analytics

1.0 Must mention "decision-making" or "influence actions"

# Section Two 

---



*   Please use this Colab notebook to solve the questions in the coding section of Quiz Four. 
* Run the first codeblocks to import the necessary packages and data for this quiz.
* The second code block will split your dataset into a training and testing set. Please use these splits to perform the necessary analysis. 
*  Any additional code you will need to answer the questions can be added to this notebook. Please remember to copy and paste the code at the bottom of the Quercus quiz after each coding question.

In [7]:
#Run this code before starting the quiz

# Import packages
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.metrics import confusion_matrix, roc_curve
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
import cvxpy as cp

# Load data
df = pd.read_csv("https://docs.google.com/uc?export=download&id=1dvqP7lz_I710lHxyIYwcju56H-LYShIp")
# set index
df = df.set_index(['Team', 'SeasonEnd'])
# Print out data head
df.head()

                                W   PTS  ...  dffPTS  NextYearPlayoffs
Team                SeasonEnd            ...
Philadelphia 76ers  2014       19  8155  ...    -857                 0
Detroit Pistons     2004       54  7388  ...     479                 1
San Antonio Spurs   2004       57  7501  ...     592                 1
Indiana Pacers      2004       61  7493  ...     472                 1
Cleveland Cavaliers 1997       42  7173  ...     151                 1

[5 rows x 21 columns]

In this quiz, we are going to use the modified basketball data set from Lab One. This data set contains information on a NBA team's stats from a current season, and has a binary indicator of whether or not they made the playoffs in the following year.

This df contains data from the 1979-1980 season to the 2013-2014 season. From the last column though, we have the results of which teams made it to the 2014-2015 season playoffs by definition. 

The columns in the dataset should be as follows (23 columns total):

* **Team**: team name (categorical)
* **Season**: season of play
* **W**: number of wins over the season
* **PTS**: total points the team scored over the season
* **oppPTS**: total points scored against the team over the season
* **FG**: field goals made over the season
* **FGA**: field goals attempted over the season
* **2P**: 2-point field goals made over the season
* **2PA**: 2-point field goals attempted over the season
* **3P**: 3-point field goals made over the season
* **3PA**: 3-point field goals attempted over the season
* **FT**: Free throws made over the season
* **FTA**: Free throws attempted over the season
* **ORB**: Offensive rebounds made over the season
* **DRB**: Defensive rebounds made over the season
* **AST**: Assists made over the season
* **STL**: Steals made over the season
* **BLK**: Blocks made over the season
* **TOV**: Turnovers made over the season
* **Conference**: NBA conference that team plays is (0 = eastern, 1 = western)
* **CurrentPlayoffs**: Whether or not team made playoffs in that particular season (0 = missed, 1 = made)
* **dffPTS**: the difference between PTS and oppPTS
* **NextYearPlayoffs**: Whether or not team made playoffs in the following season (0 = missed, 1 = made)

# Data Cleaning

Use the following training and testing sets to answer the questions below.

In [8]:
# Make a training and testing parition
X_train, X_test, y_train, y_test = train_test_split(
    df.drop('NextYearPlayoffs', 1), df['NextYearPlayoffs'], 
    test_size=0.30, shuffle=True, random_state = 0)

## __Question 1__ (/1)

**Data Cleaning:** Assume we did a correlation analysis and found that the following features are highly correlated: `'2P', '2PA', 'FG', 'PTS', 'FGA'`. Drop them from `X_train` and `X_test`.

In [9]:
# Write your code here.

# -------------------

columns_to_remove = [ '2P', '2PA', 'FG', 'PTS', 'FGA']
X_train = X_train.drop(columns=columns_to_remove)
X_test = X_test.drop(columns=columns_to_remove)

# -------------------

---
***Question 1 Marking***

---

1.0 You had to correctly drop the appropriate columns from `X_train` and `X_test` and save those dropped versions properly

# Prediction

## __Question 2__ (/2)

**Train Prediction Model:** Fit a `LogisticRegressionCV` model and call it `mdl`. Use a `penalty = l2`, `solver = liblinear`, and `max_iter = 5000`. Everything else should be default parameters. Report the training and testing score to three decimal places. Make sure to fit the model after dropping the columns from the previous question.

or

**Train Prediction Model:** Fit a `LogisticRegressionCV` model and call it `mdl`. Use a `penalty = l2`, `solver = lbfgs`, and `max_iter = 6000`. Everything else should be default parameters. Report the training and testing score to three decimal places.Make sure to fit the model after dropping the columns from the previous question.

**Train Prediction Model:** Fit a `LogisticRegressionCV` model and call it `mdl`. Use a `penalty = l2`, `solver = sag`, and `max_iter = 7000`. Everything else should be default parameters. Report the training and testing score to three decimal places. Make sure to fit the model after dropping the columns from the previous question.

In [10]:
# Write your code here.

# -------------------

# Fit the model
mdl = LogisticRegressionCV(penalty='l2', solver='liblinear', max_iter=5000)
# or
mdl = LogisticRegressionCV(penalty='l2', solver='lbfgs', max_iter=6000)
mdl = LogisticRegressionCV(penalty='l2', solver='sag', max_iter=7000)
mdl.fit(X_train, y_train)

# Score the model|
train_score = mdl.score(X_train, y_train)
test_score = mdl.score(X_test, y_test)
print(f'The train score is {train_score:.3f} and the test score is {test_score:.3f}')

The train score is 0.748 and the test score is 0.743

---
***Question 2 Marking***

---

1.0 for initializing and fitting the model correctly

1.0 for scoring the model correctly

---

**IMPORTANT:** For the remainder of the quiz, it is important that we put ourselves in the mindset that the 2014-2015 season **JUST** ended! Therefore, we know information about the 2014-2015 season, BUT, but we do not know the outcome of who made it to the 2015-2016 season playoffs (since that is in the future and that particular season hasn't even started yet!) 

Load the `df_2015` dataset which contains the data for the 2014-2015 season, but doesn't include who made it to the playoffs in 2015-2016 season (i.e. it doesn't contain the final target column like the dataset above). We also provide a `team_names` vector. 

---

In [11]:
df_2015 = pd.read_csv("https://docs.google.com/uc?export=download&id=1CrvUgRNcEpFA5W4bzQw7Ydkb0wQ8ysrB")
team_names = df_2015['Team'] 
df_2015 = df_2015.set_index(['Team', 'SeasonEnd'])
df_2015.head()

                      W   PTS  oppPTS  ...  Conference  CurrentPlayoffs  dffPTS
Team      SeasonEnd                    ...
Jazz      2015       38  7801    7783  ...           1                0      18
Grizzlies 2015       55  8062    7796  ...           1                1     266
Spurs     2015       55  8461    7953  ...           1                1     508
Pacers    2015       38  7981    7958  ...           0                0      23
Hawks     2015       60  8409    7964  ...           0                1     445

[5 rows x 20 columns]

## __Question 3__ (/3)


**Make Predictions:** Using the model you just created, the `df_2015` data and the `predict_proba` method, compute the probabilities (rounded to two decimals) that each team makes the playoffs in 2015-2016 and save it in a `pd.Series` called `predictions` with an `index=team_names`.

Also, specifically report which team has the highest chance of making it and what their probability is.

or

Also, specifically report which team has the lowest chance of making it and what their probability is.


NOTE: You can find out more about `predict_proba` in the [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegressionCV.html#sklearn.linear_model.LogisticRegressionCV) under "methods." Recall that this method gives you the probability of the target being in each of the classes. If you want to match the target to the class label, use the `mdl.classes_` parameter.

In [12]:
# Write your code here.

# -------------------

columns_to_remove = [ '2P', '2PA', 'FG', 'PTS', 'FGA']
df_2015 = df_2015.drop(columns=columns_to_remove)

predictions = mdl.predict_proba(df_2015)

predictions = pd.Series(predictions[:,1], index=team_names)
predictions = np.round(predictions,2)
print(predictions)

print(f'\nThe team with the best chance is the {predictions.idxmax()}, with a probability of {predictions.max():.2f}')
print(f'The team with the worst chance is the {predictions.idxmin()}, with a probability of {predictions.min():.2f}')

# -------------------

Team
Jazz            0.57
Grizzlies       0.69
Spurs           0.89
Pacers          0.52
Hawks           0.88
Heat            0.32
Pelicans        0.26
Bucks           0.57
Bulls           0.78
Wizards         0.55
Hornets         0.60
Blazers         0.79
Cavaliers       0.83
Pistons         0.42
Warriors        0.97
Clippers        0.90
Rockets         0.81
Nets            0.26
Raptors         0.74
76ers           0.08
Celtics         0.50
Knicks          0.06
Magic           0.11
Thunder         0.67
Mavericks       0.70
Suns            0.41
Nuggets         0.25
Kings           0.24
Lakers          0.09
Timberwolves    0.06
dtype: float64

The team with the best chance is the Warriors, with a probability of 0.97
The team with the worst chance is the Knicks, with a probability of 0.06

---
***Question 3 Marking***

---

0.5 for dropping the correct columns

0.5 for using the predict_proba method correctly

1.0 for getting the right predict_proba target class and rounding it correctly

1.0 for correctly getting the best (worst) chance team and probability

# Optimization

Let's now use the outputs of our prediction model to solve an optimization problem. 

Again remember, it is currently the end of the 2014-2015 season and lets say we are in a sports betting pool that is placing bets on which teams will make it to the the playoffs in the 2015-2016 season. 

Lets assume we have to pick **8 teams** to bet on, and we can only bet \$100 on the teams we choose. Each team has their own payout multiplier that is defined in the `payouts` dataset. For example, Utah Jazz has a payout multipler of 3, so if we choose them and they make it to the playoffs in 2016, we will earn $100*3 = 300$ dollars.

We want to create an optimization model in `cvxpy` that determines which 8 teams to bet on to maximize our *expected total earnings* by using our `predictions` from before.

In [13]:
payouts = pd.read_csv("https://docs.google.com/uc?export=download&id=1hVCAqz_g6VMJLK-lwr2cLHNCGaSjhHgm")
payouts.head()

        Team  Payout_Multiplier
0       Jazz                  3
1  Grizzlies                  2
2      Spurs                  2
3     Pacers                  3
4      Hawks                  2

For the next few questions, use your **own** `predictions` that you computed above.

If however, you weren't able to compute any predictions, you can uncomment the first two lines in the following codeblock to use a set of provided predictions so you can complete this section.

Run the following code block regardless.

In [14]:
# Un-comment the next two lines ONLY if you weren't able to compute your own predictions!
# predictions = pd.read_csv("https://docs.google.com/uc?export=download&id=1npVY0YVfiba6Smqclka3U2WiGciapjak")
# predictions = predictions['Prediction']

# Vectors for the team_names, payout_multipliers and predictions
team_names = payouts['Team']
payout_multiplier = payouts['Payout_Multiplier']
predictions = predictions.to_numpy()
payout_multiplier = payout_multiplier.to_numpy()

## __Question 4__ (/1)

**Decision Variables**: Code up the decision variables for your optimization model

In [15]:
# Write your code here

# -----------------

# Define the variable of which teams we choose or not
x = cp.Variable(len(team_names), boolean=True)

# -----------------

---
***Question 4 Marking***

---

0.5 for correct variable length

0.5 for boolean variable || If you chose integer and included approriate constraints, I gave that full marks as well

## __Question 5__ (/1)

**Objective**: Code up the objective function of your optimization model

In [16]:
# Write your code here

# -----------------

# Create the objective of maximizing expected earnings
obj = cp.Maximize((100*x*(payout_multiplier*predictions))) 
# -----------------

---
***Question 5 Marking***

---

If you failed to include the predictions in the objective function, I docked 0.5.

I docked 0.25 for other missing elements / mistakes

## __Question 6__ (/1)

**Constraints**: Code up the constraints for your model. Note, due to a bug with cvxpy, make sure to add a constraint keeping your variables non-negative.

In [17]:
# Write your code here

# -----------------

# Create the constraints
cons = []
cons.append(x >= 0)         # non-negativity of x
cons.append(cp.sum(x) == 8)    # 8 teams

# -----------------

## __Question 7__ (/3)

**Optimization**: Solve the model and report your maximum total expected earnings and which teams you chose to bet on.

In [18]:
# Write your code here

# -----------------

# Solve the model
prob = cp.Problem(obj,cons)

# Print the objective value
prob.solve(verbose=False)  # verbose = True allows you to see the solution process
print('The maximum expected total earnings is {:.3f}'.format(obj.value))  # gives you the objective value

#Extract the optimal bets to place
x_np_array = x.value.astype(int)  # extract the x values as a np array
x_values = pd.Series(x_np_array, index = team_names)  # convert the np array to a series
print('The decision to bet on each team is as follows: \n', x_values)

# -----------------

The maximum expected total earnings is 1502.000
The decision to bet on each team is as follows:
 Team
Jazz            1
Grizzlies       0
Spurs           1
Pacers          0
Hawks           1
Heat            0
Pelicans        0
Bucks           0
Bulls           0
Wizards         0
Hornets         1
Blazers         0
Cavaliers       0
Pistons         0
Warriors        1
Clippers        1
Rockets         0
Nets            0
Raptors         1
76ers           0
Celtics         0
Knicks          0
Magic           0
Thunder         1
Mavericks       0
Suns            0
Nuggets         0
Kings           0
Lakers          0
Timberwolves    0
dtype: int64

---
***Question 7 Answer***

---

Obj. value = 1502 (computed predictions) or 1508 (given predictions)

Chosen teams = Jazz, Spurs, Hawks, Hornets, Warriors, Clippers, Raptors, Thunder


---
***Question 7 Marking***

---

0.5 for solving the model

0.5 for outputing the solution

1.0 for correct objective value

1.0 for correct chosen teams

Note: If you got a value of \$3200, I still docked -1 from this answer, because \$3200 should have been an indication that you solved this **deterministically** and it wasn't an **expected value**. This should've pointed out the error in the overall model. What your model essentially did is just pick teams with the highest payout_multiplier. We don't know which teams make it to the playoffs, so the inclusion of the predicted values is imperative.

## __Question 8__ (/1)

**Adding Constraints**: Using the `cons.append()`, just type up the single line of code needed to add the following constraint. You don't need to re-solve the model.

If we choose team 'Grizzlies', we also have to choose the 'Knicks' and vice versa.

or

If we choose team 'Spurs', we also have to choose the 'Magic' and vice versa.

If we choose team 'Pacers', we also have to choose the 'Thunder' and vice versa.

If we choose team 'Hawks', we also have to choose the 'Mavericks' and vice versa.

In [19]:
cons.append(x[1] == x[21])         # Grizzlies and Knicks together
# or
cons.append(x[2] == x[22])         # Spurs and Magic together
cons.append(x[3] == x[23])         # Pacers and Thunder together
cons.append(x[4] == x[24])         # Hawks and Mavericks together

## __Question 9__ (/1)

**Adding Constraints**: Using the `cons.append()`, just type up the single line of code needed to add the following constraint. You don't need to re-solve the model.

We can only choose at most one, of the following 3 teams: 'Heat', 'Hornets', 'Clippers'

or

We can only choose at most one, of the following 3 teams: 'Pelicans', 'Cavaliers', 'Raptors'

We can only choose at most one, of the following 3 teams: 'Bucks', 'Warriors', 'Knicks'

In [20]:
cons.append(x[5] + x[10] + x[15] <= 1)         # Heat, Hornets and Clippers
# or
cons.append(x[6] + x[12] + x[18] <= 1)         # Pelicans, Cavaliers, Raptors
cons.append(x[7] + x[14] + x[21] <= 1)         # Bucks, Warriors, Knicks

## __Question 10__ (/1)

**Adding Constraints**: Using the `cons.append()`, just type up the single line of code needed to add the following constraint. You don't need to re-solve the model.

We can NOT choose the 'Hawks'.

or

We can NOT choose the 'Bulls'.

We can NOT choose the 'Cavaliers'.

In [21]:
cons.append(x[4] == 0) # cant choose Hawks
# or
cons.append(x[8] == 0) # cant choose Bulls
cons.append(x[12] == 0) # cant choose Cavaliers